body{
    background-color: rgb(21, 21, 21);
}
.body2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 70vh;
}
.body2 input{
    height: 6vh;
    width: 30vw;
    font-size: 2.1vw;
    outline: none;
    border-bottom: 1.4px solid grey;
}
.body2 .suggest{
    color: slategray;
    height: 30vh;
    width: 30vw;
    display: none;
    flex-flow: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
}
.suggest div{
    font-size: 2vh;
    width: 29vw;
}
@media screen and (max-width: 1080px){
    .body2 input{
        width: 40vw;
    }
    .body2 .suggest{
        width: 40vw;
    }
}
@media screen and (max-width: 675.2px){
    .body2 input{
        width: 60vw;
    }
    .body2 .suggest{
        width: 60vw;
    }
    ::placeholder{
        font-size: 2.4vh;
    }
}

